{% load user_filters %}

{% if user.is_authenticated %}
  <div class="card my-4">
      <form method="post" action="{% url 'posts:add_comment' post.id %}">
        {% csrf_token %}

        <h5 class="card-header">Добавить комментарий:</h5>
        {% for field in form %}
          <div class="card-body"
            {% if field.field.required %} 
              aria-required="true"
            {% else %}
              aria-required="false"
            {% endif %}
          >
            <div class="form-group">
              {{ field|addclass:"form-control" }}
            </div>
            <button type="submit" class="btn btn-primary">Отправить</button>
          </div>
        {%endfor%}
      </form>
  </div>
{% endif %}
<h3> Комментарий: </h3>
{% for comment in comments %}
  <div class="media card mb-4">
    <div class="media-body card-body">
      <h5 class="mt-0">
        <a href="{% url 'posts:profile' comment.author.username %}">
          {{ comment.author.username }}
        </a>
      </h5>
        <p>
         {{ comment.text|linebreaks }}
        </p>
        <small class="text-muted">{{ post.pub_date|date:"d E Y" }} г.</small>
        {% if request.user == comment.author or request.user == post.author%}
          <a class="btn btn-danger" href="{% url 'posts:comment_delete' post.id comment.id%}" role="button">
            Удалить комментарий
          </a>
        {% endif %}
    </div>
  </div>
{% endfor %} 