{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
  <div class="row">
    <h1>Мои знание</h1>
    <aside class="col-12 col-md-3">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          Python
        </li>
        <li class="list-group-item">
          Django
        </li>
        <li class="list-group-item">
          REST API
        </li>
        <li class="list-group-item">
          SQL
        </li>
        <li class="list-group-item">
          API
        </li>
      </ul>
    </aside>
    <article class="col-12 col-md-9">
      <p>Для создание этого сайта мне потребовались знание Django, HTML+ CSS, BOOTSTRAP
      </p>
    </article>
  </div>
{% endblock %}