{% extends "base.html" %}
{% load static %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<h1>Автор этого сайта вас приветствует!</h1>
<p>
  <h2>
    И.Ф: Эльтун Гасымов
  </h2> 
  <br> 
  <h3>
    Нравится программировать на языке программировании Python
    спасибо всем ребятам из Yandex.Practicum за труд и терпение!
  </h3> 
  <br>
  <h4>
    Тут вы можете увидеть мой GitHub аккаунт : 
    <a href="https://github.com/gasimovv21" target="_blank">Github</a>
  </h4>
</p>
{% endblock %} 