{% extends "base.html" %} 
{% block title %}Вы успешно удалили пост!{% endblock %} 
{% block content %} 
{% load user_filters %} 
      <div class="container py-5">  
        <div class="row justify-content-center"> 
          <div class="col-md-8 p-5"> 
            <div class="card"> 
              <div class="card-header"> 
                Пост удалён! 
              </div> 
              <div class="card-body"> 
                <p>Пост автора успешно удалён!</p> 
              </div>  
            </div>  
          </div> 
        </div>  
      </div> 
{% endblock %} 