{% extends "base.html" %}
{% load thumbnail %}
{% block title %}Пост {{ post.text|truncatechars:30 }}{% endblock title %}  
{% block content %}
  <div class="container">
    <h1></h1>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-3 mb-3 mt-1">
          <div class="card">
            <div class="card-body">
              <div class="h3">
                {{ post.author.get_full_name }}
              </div>
              <div class="h3 text-muted">
                <a 
                  href="{% url 'posts:profile' post.author.username %}"
                  >@{{post.author.username}}
                </a>
              </div>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="h7 text-muted">
                  Подписчики: {{ post.author.following.count }}
                  <br>
                  Подписки: {{ post.author.follower.count }} 
                </div>
              </li>
              <li class="list-group-item">
                <div class="h7 text-muted">
                  Публикации: {{ post.author.posts.count }}
                </div>
              </li>
              <li class="list-group-item">
                {% if post.author != user%}
                  {% if following %}
                    <a
                      class="btn btn-lg btn-light"
                      href="{% url 'posts:profile_unfollow' post.author.username %}"
                      role="button"
                    >
                      Отписаться
                    </a>
                  {% else %}
                    <a
                      class="btn btn-lg btn-primary"
                      href="{% url 'posts:profile_follow' post.author.username %}"
                      role="button"
                    >
                      Подписаться
                    </a>
                  {% endif %}
                {% endif %}
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-9">
          <div class="card mb-3 mt-1 shadow-sm">
            {% thumbnail post.image "960x339" crop="center" upscale=True as im %}
              <img class="card-img" src="{{ im.url }}">
            {% endthumbnail %}
            <div class="card-body">
              <p class="card-text">
                <a
                  {% if not author.posts.count %}
                    name="{% url 'posts:post_detail' post.id %}"
                    href="{% url 'posts:profile' post.author.username %}"
                  {% endif %}
                  >
                  <strong class="d-block text-gray-dark">
                    @{{ post.author }}
                  </strong>
                </a>
                {{ post.text }}
              </p>
              <div class="mb-3 d-flex justify-content-between align-items-center">
                Комментариев : {{ post.comments.count }}
              </div>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  {% if request.user == post.author %}
                    <div>
                      <a 
                        class="btn btn-sm btn-info ml-2"
                        href="{% url 'posts:post_edit' post.pk %}"
                        role="button"> Редактировать или удалить
                      </a>
                    </div>
                  {% endif %}
                </div>
                <small class="text-muted">{{ post.pub_date|date:"d E Y" }} г.</small>
              </div>
            </div>
          </div>
          {% include 'posts/includes/external_includes/create_comments.html' %}
        </div>
      </div>
    </main>
  </div>
{% endblock content %}